menu "gnss receiver operation"

	if GNSS_USING_RCVR
		config ONEPOS_RCVR_DEBUG
			bool "enable gnss receiver debug"
			default n
	
		config RCVR_SUPP_PROT
			bool "gnss receiver using protocol"
			select GNSS_USING_PROT
			default n
			
		config RCVR_SUPP_RESET
			bool "gnss receiver support reset operation"
			default n
	endif
	
endmenu
	

